.contact_us{
padding-top: 120px;
    padding-bottom: 120px;
   
}

.contact_row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    
}
.contact_col_6{
    width: 45%;
}
.herotext{
padding-bottom: 1.5rem ;
text-align: center;
}
.herotext h6 {
    /* font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #27AE60;
    font-weight: 500; */
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #f1f4f2;
    }
.herotext h2 {
    font-size: 42px;
    font-weight: 700;
    line-height: 55px;
}

.clearfix{
    padding-bottom: 2rem ;
    align-items: center ;
    display: flex;
    padding-left: 4.5rem;
}
.contact_us address .icon {
    float: left;
    font-size: 70px;
    padding-right: 20px;
}

.contact_us address .detail {
    padding-top: 2px;
    font-size: 22px;
    line-height: 32px;
}
.detail a{
    color: rgb(255, 255, 255);
}

.mb_3 {
    margin-bottom: 1rem !important;
}
.contact_us .form_control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 18px);
    padding: 0.5rem 1.5rem;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d3d3d3;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.message_box{
    height: fit-content;
}

#message_post {
    padding-top: 6px;
    padding-bottom: 6px;
}

.contact_us .btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    background-color: aqua;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 12px 46px 12px 46px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 30px 30px 30px 30px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
     border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
     cursor: pointer;
    outline: 3px solid transparent;
    
}
.contact_us .btn:hover{
    background-color: #fdfdfd;
    color: aqua;
    outline: 3px solid aqua;
    transition: all 0.5s ease-in-out;
}

.contact_us address .detail .heading {
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #eff2f0;
    padding-bottom: 0px;
    margin-bottom: 4px;
}



@media (min-width:768px) and (max-width:1024px) {
    .contact_us{
        padding-top: 120px;
            padding-bottom: 120px;
            width: 100%;
        }
        
        .contact_row{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .contact_col_6{
            width: 50%;
        }
        .herotext{
        padding-bottom: 1.5rem ;
        
        }
        .herotext h6 {
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #27AE60;
            font-weight: 500;
            
            }
        .herotext h2 {
            font-size: 26px;
            font-weight: 700;
            line-height: 55px;
        }
        
        .clearfix{
            padding-bottom: 2rem ;
            align-items: center ;
            display: flex;
            padding-left: 4.5rem;
        }
        .contact_us address .icon {
            float: left;
            font-size: 50px;
            padding-right: 20px;
        }
        
        .contact_us address .detail {
            padding-top: 2px;
            font-size: 16px;
            line-height: 32px;
        }
        
        .mb_3 {
            margin-bottom: 1rem !important;
        }
        .contact_us .form_control {
            display: block;
            width: 90%;
            height: calc(1.5em + 0.75rem + 18px);
            padding: 0.5rem 1.5rem;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #d3d3d3;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        
        #message_post {
            padding-top: 6px;
            padding-bottom: 6px;
        }
        
        .contact_us .btn {
            display: inline-block;
            font-weight: 400;
            color: #fff;
            background-color: #27AE60;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: 12px 46px 12px 46px;
            font-size: 16px;
            line-height: 1.5;
            border-radius: 30px 30px 30px 30px;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
             border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
             cursor: pointer;
        }
        
        .contact_us address .detail .heading {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            color: #27AE60;
            padding-bottom: 0px;
            margin-bottom: 4px;
        }  
}
@media (min-width:300px) and (max-width:768px) {
    .contact_us{
        padding-top: 120px;
            padding-bottom: 120px;
            width: 100%;
            text-align: left;
        }
        
        .contact_row{
            display: flex;
            flex-wrap: wrap;
            width: 100%;
        }
        .contact_col_6{
            width: 100%;
        }
        .herotext{
        padding-bottom: 0.5rem ;
        
        }
        .herotext h6 {
            font-size: 16px;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-weight: 500;
            
            }
        .herotext h2 {
            font-size: 26px;
            font-weight: 700;
            line-height: 55px;
        }
        
        .clearfix{
            padding-bottom: 2rem ;
            align-items: center ;
            display: flex;
            padding-left: 4.5rem;
        }
        .contact_us address .icon {
            float: left;
            font-size: 50px;
            padding-right: 20px;
        }
        
        .contact_us address .detail {
            padding-top: 2px;
            font-size: 16px;
            line-height: 32px;
        }
        
        .mb_3 {
            margin-bottom: 1rem !important;
        }
        .contact_us .form_control {
            display: block;
            margin: 0px auto;
            width: 80%;
            height: calc(1.5em + 0.75rem + 18px);
            padding: 0.5rem 1.5rem;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #d3d3d3;
            border-radius: 0.25rem;
            transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
        }
        
        #message_post {
            padding-top: 6px;
            padding-bottom: 6px;
        }
        
        .contact_us .btn {
            display: inline-block;
            font-weight: 400;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            padding: 12px 26px 12px 26px;
            font-size: 16px;
            line-height: 1.5;
            border-radius: 30px 30px 30px 30px;
            transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
             border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
             cursor: pointer;
             margin: 0px 25%;
        }
        
        .contact_us address .detail .heading {
            font-size: 14px;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding-bottom: 0px;
            margin-bottom: 4px;
        }  
}