.main-preloader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999999999;
    background-color: #fff;
    text-align: center; 
}
.main-preloader .main-preloader-inner {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    position: absolute;
    top: 50%;
    margin-top: -60px;
    width: 100%;
}

.main-preloader .preloader-percentage {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: #000;
    margin: 0;
}

.main-preloader .preloader-percentage span {
    display: inline-block;
    float: center;
    font-size: 70px;
}

.preloader-bar{
    width: 100%;

}